*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

section{
    padding-right: 160px;
    padding-left: 140px;
    padding-top: 140px;
}

.btn {
    width: 150px;
    height: 48px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

nav {
    display: flex;
    padding-right: 160px;
    padding-left: 140px;
    height: 80px;
    background-color: #1f2937;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo h1{
    color: #f9faf8;
    font-size: 24px;

}

.nav-links ul{
    display: flex;
}

.nav-links ul li {
    padding: 15px ;
}

.nav-links ul li a{
    color: #e5e7eb;
    font-size: 18px;
}

.hero-section{
    height: 500px;
    background-color: #1f2937;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
}

.left-container{
    width: 50%;
}

.left-container h1{
    font-size: 72px;
    font-weight: 900;
    color: #f9faf8;
}

.left-container p{
    font-size: 26px;
    font-weight: 200;
    color: #e5e7eb;
    width: 80%;
    margin-top: 20px;

}

.left-container button {
    margin-top: 20px;
    font-weight: bold;
}

.right-container{
    width: 50%;
}

.img-container {
    width: 75%;
    height: 394px;
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}