*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

section{
    padding-right: 160px;
    padding-left: 140px;
    padding-top: 140px;
}

.btn {
    width: 150px;
    height: 48px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: 150ms ease-in-out;
}

nav {
    display: flex;
    padding-right: 160px;
    padding-left: 140px;
    height: 80px;
    background-color: #1f2937;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo h1{
    color: #f9faf8;
    font-size: 24px;

}

.nav-links ul{
    display: flex;
}

.nav-links ul li {
    padding: 15px ;
}

.nav-links ul li a{
    color: #e5e7eb;
    font-size: 18px;
    transition: 200ms ease-in-out;
}

.nav-links ul li a:hover {
    color: #3882f6;
}

.hero-section{
    height: 500px;
    background-color: #1f2937;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
}

.left-container{
    width: 50%;
}

.left-container h1{
    font-size: 72px;
    font-weight: 900;
    color: #f9faf8;
}

.left-container p{
    font-size: 26px;
    font-weight: 200;
    color: #e5e7eb;
    width: 80%;
    margin-top: 20px;

}

.left-container button {
    margin-top: 20px;
    font-weight: bold;
}

.left-container button:hover {
    background-color: #0062ff;;
    border: 2px solid #fff;
}

.right-container{
    width: 50%;
}

.img-container {
    width: 75%;
    height: 394px;
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 100px;
    height: 500px;
}

.random-info h2 {
    font-size: 48px;
    font-weight: 900;
    color: #1f2937;
}

.random-info .img-section {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.img-section > div {
    width: 200px;
    text-align: center;
}

.img-section > div > .img-box {
    height: 220px;
    border: 5px solid #3882f6;
    border-radius: 10%;
}

.img-section > div > p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 200;
    color: #4b5563;
}

.quote-section {
    height: 500px;
    background-color: #e5e7eb;
    margin-top: 140px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote-section p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    width: 54%;
    line-height: 48px;
    font-style: italic;
}

.quote-section h3 {
    margin-left: 35rem;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section .cta-container{
    height: 150px;
    background-color: #3b82f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    box-sizing: border-box;
    width: 65%;
}

.right-cta > button {
    border: 4px solid #fff;
    background-color: transparent;
}

.right-cta > button:hover {
    background-color: #4d90fa;
}

footer {
    height: 80px;
    background-color: #1f2937;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}